<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="javascripts/jquery-3.4.1.js"></script>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <!-- <form action="/addUser" method="GET"> -->
  <h1>随便输入：</h1>
  <input type="text" name="myinput" id="text">
  <!-- <input type="password" name="myinput" id="text"> -->
  <input type="submit" value="Submit" onclick="" id="submit">
  <%= list %>
  <!-- </form> -->
  <script>
    document.getElementById('submit').onclick = () => {
      $.get("/addUser", {
        myinput: $("#text").val()
      }, function (data) {
        console.log(data)

        // if (data.success) {
        //   $("#text").val('')
        //   alert('提交成功')
        // }
      })
    }
  </script>
</body>

</html>